//Function for grid
//Mixin create row

//Mixin container create container fluid
@mixin make-container() {
  width: 100%;
  padding-right: math.div($grid-gutter-width, 2);
  padding-left: math.div($grid-gutter-width, 2);
  margin-right: auto;
  margin-left: auto;
}