main{
  margin: 0 auto;
  width: 80%;
}

h1{
  text-align: center;
}

#container{
  max-width: 600px;
  margin: 0 auto;
  background-color: #303030;
}

/* .cascade-waves {
  perspective: 600px;
} */

.cascade-waves__tile {
  fill: #433e42;
  stroke: #666;
}

.active{
  z-index: 3;
  transform-style: preserve-3d;
  transition: fill .6s;
  
  animation-name: glow;
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
}

@keyframes glow {
  0% {
    stroke: #666;
    transform: rotateX(0);
    fill: #433e42;
  }

  50% {
    stroke: #cd91ff;
    transform: rotateX(90);
    fill: #ac1bfa;
  }

  100% {
    stroke: #666;
    transform: rotateX(180deg);
    fill: #433e42;
  }
}
