p {
  font: 400 1rem $font-primary;
  line-height: calc-rem(32px);
  color: $color-black;

  @include media-breakpoint-down(md) {
    font-size: calc-rem(14px);
    line-height: calc-rem(26px);
  }
}
