// button component
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 700 $btn-font-md $font-primary;
  line-height: calc-rem(16px);
  text-align: center;
  padding: $btn-padding-md;
  min-height: $btn-height-md;
  border-radius: $border-radius-md;
  text-transform: uppercase;

  &-primary-gradient {
    @include base-button($color-white, $color-secondary, transparent);
    background: linear-gradient(90deg, #4f207a 0%, desaturate($color-purple-1, 11%) 100%);
    border: none;
  }

  &-block {
    width: 100%;
  }
}