$color-black: #000;
$color-white: #fff;

$color-blue-dark: #0D3B5C;
$color-blue-light-1: #69ABDC;
$color-blue-light-2: #C7D7E3;
$color-green-1: #004B4F;
$color-green-2: #2ECACE;
$color-red: #D53E2A;
$color-pink: #E87590;
$color-gray: #3F3F3F;
        $color-purple-1: #8413af;
        $color-purple-2: #722393;

        // $color-purple-1: #ac1bfa;
        // $color-purple-2: #6D079B;
        $color-purple-3: #cd91ff;
        $color-pink-1: #e2d4ff;
        $color-pink-2: #da31cf;
        $color-gray-1: #584c5c;
        $color-gray-2: #978b9b;
        $color-blue-1: #003a9a;
        
        // Honey pallete
        $color-brown: #321813;
        $color-light-yellow: #e6e5ed;
        $color-honey: #ffbd24;
        $color-dark-gray-v2: #242424;
        
        // crimson pallete
        $color-gray-v2: #423f40;
        $color-red-v2: #e2322d;
        $color-white-blue: #f4f4f0;
        $color-light-gray-v2: #acaeb3;
        
    $color-dark-gray: #252326;
    $color-dark-gray-2: #303030;
    $color-light-gray: #584c5c;
    $color-light-gray2: #666;

    $color-primary: $color-purple-2;
    $color-secondary: $color-blue-1;


$color-tags: lighten($color-blue-light-1, 27%);

// Information
$color-error: $color-red;
$color-warning: $color-pink;
$color-success: $color-green-2;
$color-info: $color-secondary;

$colors: (
    'primary': $color-primary,
    'secondary': $color-secondary,
    'black': $color-black,
    'white': $color-white,
    'blue': $color-blue-light-1,
    'brown': $color-brown,
    'gray': $color-gray,
    'gray-light': $color-light-gray,
    'error': $color-error,
    'warning': $color-warning,
    'success': $color-success,
    'info': $color-info,
);

$colors-message: (
    error: $color-error,
    warning: $color-warning,
    success: $color-success,
    info: $color-info,
);