//////////////////////////////////////////////////////////////////
// RADIO / CHECKBOX
//////////////////////////////////////////////////////////////////
$radiobox-width: 18px;
$checkbox-width: 22px;
$checkbox-tick-base: 1.8;
$checkbox-aspect-ratio: math.div(($checkbox-tick-base * 1.8), $checkbox-tick-base);


//////////////////////////////////////////////////////////////////
// INPUT RANGE
//////////////////////////////////////////////////////////////////
$track-color: $color-secondary !default;
$thumb-color: $color-white !default;

$thumb-radius: 11px !default;
$thumb-height: 18px !default;
$thumb-width: 18px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba($color-primary, .2) !default;
$thumb-border-width: 3.5px !default;
$thumb-border-color: $color-primary !default;

$track-width: 100% !default;
$track-height: 0 !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: rgba($color-primary, .2) !default;
$track-border-width: 1.5px !default;
$track-border-color: transparent !default;

$track-radius: 0 !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;